@font-face{
    font-family:"Alex Brush";
    src: url("Font/AlexBrush-Regular.woff2") format("woff2"),
        url("Font/AlexBrush-Regular.woff") format("woff");
        font-weight:normal;
        font-style:normal;
        font-display:swap;
}

*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

.italic{
    font-style:italic;
}

a{
    color:inherit;
}

.flex{
    display:flex;
}

.column{
    flex-direction:column;
}

html{
    display:flex;
    justify-content:center;
    background-color:black;
}

#Container{
    flex-direction:row;
    min-height:100vh;
    width:70vw;
    justify-content:center;
    background-color:black;
}

#leftSide{
    align-items:center;
    background-image: url("Images/tropical-leaf.avif");
    flex: 1;
}

#banner{
    margin-top:50%;
    height:100px;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
}

#banner-logo{
    width:100px;
}

#banner-text, #mention{
    color:white;
}

#banner-text{
    font-size: 5rem;
    font-family: "Alex Brush";
}

#mention{
    margin-top:auto;
    margin-bottom:10px;
    
}

#rightSide{
    flex: 2;
    background-color:rgb(250, 250, 250);
    min-height:100vh;
    /* border:15px solid blue */
}

#rightSide > *{
    flex:1;
    width: 100%;
    padding:0px 2vw;
    /* border:10px solid gray; */
}

#rightSide *{
    font-weight:bold;
}

#introduction{
    text-align:left;
    font-size:1.5rem;
    justify-content:flex-end;
    padding-bottom:5vh;
}

#introduction > .spacer{
    height:30%;
}

#form{
    background-color: rgb(255, 255, 255);
}