@font-face{
    font-family:"Alex Brush";
    src: url("Font/AlexBrush-Regular.woff2") format("woff2"),
        url("Font/AlexBrush-Regular.woff") format("woff");
        font-weight:normal;
        font-style:normal;
        font-display:swap;
}

@font-face {
    font-family: 'Exo';
    src: url('Font/Exo-Black.woff2') format('woff2'),
        url('Font/Exo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

.italic{
    font-style:italic;
}

a{
    color:inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

.flex{
    display:flex;
}

.column{
    flex-direction:column;
}

html{
    display:flex;
    justify-content:center;
    background-color:black;
}

#Container{
    flex-direction:row;
    min-height:100vh;
    width:70vw;
    justify-content:center;
    background-color:black;
}

#leftSide{
    align-items:center;
    background-image: url("Images/tropical-leaf.avif");
    flex: 1;
}

#banner{
    margin-top:50%;
    height:100px;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
}

#banner-logo{
    width:100px;
}

#banner-text, #mention{
    color:white;
}

#banner-text{
    font-size: 5rem;
    font-family: "Alex Brush";
}

#mention{
    margin-top:auto;
    margin-bottom:10px;
    
}

#rightSide{
    flex: 2;
    background-color:rgb(250, 250, 250);
    min-height:100vh;
    /* border:15px solid blue */
}

#rightSide > *{
    flex:1;
    width: 100%;
    /* border:10px solid gray; */
    font-family:sans-serif;
}

#rightSide *{
    font-weight:bold;
}

#introduction,
#form > fieldset,
#form > fieldset > legend,
#log-in{
    padding:0px 2vw;
}

#introduction{
    text-align:left;
    font-size:1.5rem;
    justify-content:flex-end;
    padding-bottom:5vh;
    flex-basis:30%;
}

#introduction > .spacer{
    height:30%;
}

#form{
    background-color: rgb(255, 255, 255);
    /* border:10px solid green; */
    flex-basis:50%;
}

#form > fieldset{
    height:100%;
    position:relative;
    padding-top:3rem;
    justify-content:space-evenly;
    border:none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#form legend{
    font-size:1.5rem;
    position:absolute;
    top:0;
    left:0;
    margin-top:10px;
}

.form-row{
    display:flex;
    gap:3vw;
}

label{
    color:rgb(100, 100, 100);
    font-family:"Exo";
    position:relative;
}

input{
    border:1px solid rgba(100, 100, 100, 0.2);
    border-radius:4px;
}

input:focus{
    outline:2px solid blue;
    box-shadow:0px 0px 6px;
}

input:is([type="password"], [type="email"]):valid{
    border-color:green;
}

input:is([type="password"], [type="email"]):invalid{
    border-color:red;
}

label:is([for="email"], [for="password"], [for="confirm-password"])::after{
    content:"*";
    font-size:1.5rem;
    position:absolute;
    color:red;
    top:-4px;
}

#btnCreateAccount{
    width:fit-content;
    height:fit-content;
    padding:15px 30px;
    border-radius:10px;
    background-color:#596D48;
    color:white;
}

#log-in{
    flex-basis:20%;
    margin-top:30px;
}

#log-in a{
    color:#596D48;
}